:root {
  --color-primary: #b4d0e7;
  --color-secondary: #000000;
  --color-bckg-btn: #0061ff;
  --color-white: white;
  --color-third: #61082b;
  --padding-container-default: 40px 0;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px dashed green;*/
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header section {
  background-color: var(--color-primary);
}

section {
  padding: var(--padding-container-default);
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1100px;
}

.nav-container {
  width: 98.4vw;      
}

.navbar { 
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.space-between {
  display: flex;
  justify-content: space-between;  
}

header a {
  text-decoration: none;
  color: var(--color-secondary);
}

button {
 padding: .4rem .7rem;
 background-color: var(--color-bckg-btn);
 color: var(--color-white);
}

.btn-margin {
  margin: 2rem 0;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.box {
  width: 100%;
  display: flex;
}

i.arrow-down {  
  margin: 6rem 0 6rem;
}

.main-box-left {
  max-width: 35%;
}

header > section {
  padding-bottom: 1rem;
}

header section .container {
margin-bottom: -4.5rem;
}

.padd-06rem{
  padding: 0.6rem;
}

.marg-bott-05rem {
  margin-bottom: .5rem;
}

.marg-bott-1rem {
  margin-bottom: 1rem;
}

.marg-bott-15rem {
  margin-bottom: 1.5rem;
}

.marg-bott-2rem {
  margin-bottom: 2rem;
}

.marg-bott-3rem {
  margin-bottom: 3rem;
}

.marg-bott-6rem {
  margin-bottom: 6rem;
}

.margin-top-55rem {
  margin-top: 5.5rem;
}
/*------------------*/
header .main-box-right {
  position: relative;
  width: 100%;
}

header .jumbo-img {
  position: absolute;
  left: 0;
  bottom: -0.3rem;
} 

main p,label {
  font-size: .8rem;
}

.radio {
  display: flex;
  gap: 2rem;
}

.wrapper {
  flex-wrap: wrap;
}

.column-sect1, #under-sect-1 {
  border: 1px solid #d0d0d3;
}

.padding-1rem {
  padding: 1rem;
}

.padding-2rem {
  padding: 2rem;
}

.padding-3rem {
  padding: 3rem;
}

.padding-8rem {
  padding: 8rem;
}

.bord-botm{
  border-bottom: 1px solid #d0d0d3;
}

.txt-center {
  text-align: center;
}

.width-32 {
  width: 32%;
}

.column-sect1 hr {
  width: 20%;
  border-color: #d0d0d3;
}

.width-33 {
  width: 33.33%;
}

.gap2 {
  gap: 2%;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

#under-sect-1 > .box-left { 
  flex-grow: 10;
}

#under-sect-1 > .box-right {
  flex-grow: 1;
}

#main-sect-2 > .left {
  flex-basis: 65%;
}

#main-sect-2 > .right {
  flex-basis: 35%;
}

.squares-container {
  width: 98.4vw;       
}

footer ul {
  width: 20%;
}

.object-fit {
object-fit: contain;
width: 100%;
}

.main-sect-5 {
  background-color: var(--color-primary);
}

.color-3 {
  color: var(--color-third);
}

.main-sect-6 {
  border-color: #999999;
}

.main-sect-6 p {
  font-size: 1rem;
  font-weight: 700;
  margin: 2rem 0;
}

footer {
  background-color: var(--color-secondary);
    color: var(--color-white);
}

footer ul {
  list-style: none;
  margin-bottom: 2rem;
}

footer ul li{
  margin: 1.5rem 0;
}

footer h3 {
  font-weight: 900;
}

footer hr {
  width: 120px;
  border-color: #ffffff;
  margin: 4rem 0;
}

.footer-end {
  color: #ffffff;
}
