:root {
  --color-primary: #b4d0e7;
  --color-secondary: #000000;
  --color-bckg-btn: #0061ff;
  --color-white: white;
  --padding-container-default: 40px 0;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px dashed green;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: var(--padding-container-default);
}

.container {
  max-width: 920px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1200px;
}

.nav-container {
  width: 98.4vw;       /*RISOLVERE QUESTO PROBLEMA*/
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 25px;
  gap: 10px
}

a {
  text-decoration: none;
}

button {
 padding: .4rem .7rem;
 background-color: var(--color-bckg-btn);
 color: var(--color-white);
}

.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box-left {
  max-width: 35%;
}

.col-32 {
  flex-basis: 32%;
}

.col-33 {
  flex-basis: 33.33%;
}

.gap2 {
  gap: 2%;
}

.row-100 {
  flex-basis: 100%;
}

.col-50 {
  flex-basis: 50%;
}

.squares-container {
  width: 98.4vw;         /*RISOLVERE QUESTO PROBLEMA*/
}
/*--------------------*/
.row {
  display: flex;
}

footer ul {
  width: 20%;
}


/* COME RICHIAMARE LE VARIABILI 
div {
  color: var(--color-secondary);
}*/